<div class="corner-element-container">
  <div class="contact-info-container">
    <a href="mailto:me@mikevondrak.com">
      <img src="assets/images/email_icon.svg"/>
      <span>me<span class="at-sign">&#64;</span>mikevondrak.com</span>
    </a>
    <a href="https://www.github.com/MikeVondrak">
      <img src="assets/images/github_icon.svg"/>
      <span>github.com/MikeVondrak</span>
    </a>
    <a href="https://www.google.com/maps/place/Littleton,+CO+80121/@39.6051274,-104.976667,14.5z/data=!4m6!3m5!1s0x876c8124bd597997:0x6da03f679da83103!8m2!3d39.6117926!4d-104.9505671!16s%2Fm%2F01zvm_s?entry=ttu&g_ep=EgoyMDI1MDIxMi4wIKXMDSoASAFQAw%3D%3D" target="_blank">
      <img src="assets/images/marker_icon.svg"/>
      <span>Centennial, CO 80121</span>
    </a>
  </div>
  <div class="logo-container">
    <img src="/assets/images/MV_logo_no_bg.svg"/>
  </div>
  <!-- <div class="skill-meter-dial-container">
    <div class="skill-meter-dial">
      <div class="skill-meter-ratings-bg"></div>
      <div class="skill-meter-ratings"></div>
    </div>
    <div class="skill-rating-labels">
      <div class="skill-rating">
        <div><span class="skill">Frontend</span></div>
        <div><span>9</span><span class="dim">&nbsp;/10</span></div>
      </div>
      <div class="skill-rating">
        <div><span class="skill">Backend</span></div>
        <div><span>5</span><span class="dim">&nbsp;/10</span></div>
      </div>
      <div class="skill-rating">
        <div><span class="skill">Quality</span></div>
        <div><span>9</span><span class="dim">&nbsp;/10</span></div>
      </div>
      <div class="skill-rating">
        <div><span class="skill">Speed</span></div>
        <div><span>6</span><span class="dim">&nbsp;/10</span></div>
      </div>
      <div class="skill-rating">
        <div><span class="skill">Ideation</span></div>
        <div><span>8</span><span class="dim">&nbsp;/10</span></div>
      </div>
      <div class="skill-rating">
        <div><span class="skill">Design</span></div>
        <div><span>7</span><span class="dim">&nbsp;/10</span></div>
      </div>
    </div>
  </div> -->
</div>
