<div class="skill-meter-container">
  <div class="contact-info-container">
    <a href="mailto:me@mikevondrak.com">me&#64;mikevondrak.com</a>
    <a href="https://www.github.com/MikeVondrak">github.com/MikeVondrak</a>
  </div>
  <div class="skill-meter-dial-container">
    <div class="skill-meter-dial">
      <div class="skill-meter-ratings-bg"></div>
      <div class="skill-meter-ratings"></div>
    </div>
    <div class="skill-rating-labels">
      <div class="skill-rating">
        <div><span class="skill">Frontend</span></div>
        <div><span>9</span><span class="dim">&nbsp;/10</span></div>
      </div>
      <div class="skill-rating">
        <div><span class="skill">Backend</span></div>
        <div><span>5</span><span class="dim">&nbsp;/10</span></div>
      </div>
      <div class="skill-rating">
        <div><span class="skill">Quality</span></div>
        <div><span>9</span><span class="dim">&nbsp;/10</span></div>
      </div>
      <div class="skill-rating">
        <div><span class="skill">Speed</span></div>
        <div><span>6</span><span class="dim">&nbsp;/10</span></div>
      </div>
      <div class="skill-rating">
        <div><span class="skill">Ideation</span></div>
        <div><span>8</span><span class="dim">&nbsp;/10</span></div>
      </div>
      <div class="skill-rating">
        <div><span class="skill">Design</span></div>
        <div><span>7</span><span class="dim">&nbsp;/10</span></div>
      </div>
    </div>
  </div>
</div>
