<app-topic-selector (currentTopic)="selectTopic($event)"></app-topic-selector>
<div class="topics-container" [@slideHorizontal]="currentTopic">
  <div *ngIf="onTopic(PageTopicsEnum.History)" class="topic-container"
    [class.showing]="onTopic(PageTopicsEnum.History)">
    <app-content-section [titleTexts]="['Charter Communications', 'Lead Software Engineer']"
      [subtitleTexts]="['Denver CO', 'January 2018 - Present']">
      <ul class="content-container">
        <li>
          Lead an 8-member development team maintaining and enhancing the
          front-end of residential and small-to-medium business websites,
          ensuring seamless user experience and scalability
        </li>
        <li>
          Develop robust code that laid the foundation for the current system,
          significantly reducing development time from weeks to hours and
          enabling rapid iterations and improvements
        </li>
        <li>
          Design and implement structured interview processes, including a
          Stackblitz site for live coding assessments, leading to a 100%
          retention rate after six months
        </li>
        <li>
          Create and maintain detailed documentation to communicate planned
          development processes to the team and provide regular status updates
          to stakeholders, resulting in a 10% average reduction in development time
        </li>
        <li>
          Promote code quality, best practices, and proactively address technical
          debt to enhance maintainability and streamline the development processes
        </li>
      </ul>
    </app-content-section>
    <app-content-section [titleTexts]="['HŌM Solutions', 'Web Developer']"
      [subtitleTexts]="['Denver CO', 'March 2014 - March 2017']">
      <ul>
        <li>
          Supervised front-end development for a team delivering an internal customer
          management and scheduling tool, ensuring an intuitive user interface and
          seamless functionality to meet organizational needs
        </li>
        <li>
          Designed and expanded a public-facing web application enabling customers to
          schedule appointments online, reducing scheduling-related calls by 11% and
          improving overall customer convenience
        </li>

        <li>
          Created mock-ups for new designs and to address usability issues, improving
          user experience and ensuring alignment with design goals
        </li>
        <li>
          Conducted user interviews to gather feedback, to enhance customer satisfaction,
          and identify key areas for improvement in product functionality and usability
        </li>
        <li>
          Developed comprehensive project plans and implementation schedules to ensure
          timely delivery and alignment with strategic goals
        </li>
      </ul>
    </app-content-section>
    <app-content-section [titleTexts]="['Experian', 'Web Developer']"
      [subtitleTexts]="['Denver CO', 'August 2012 - February 2014']">
      <ul>
        <li>
          Led and organized front-end development for a distributed team during the 
          redesign of CreditExpert.co.uk, ensuring seamless collaboration, adherence to 
          project timelines, and delivery of a modernized user interface
        </li>
        <li>
          Developed Selenium tests to automate the testing of user journeys, improving 
          test coverage and ensuring a reliable user experience
        </li>
        <li>
          Authored technical documentation to facilitate knowledge transfer for previously 
          undocumented legacy products and processes, ensuring continuity and reducing 
          on-boarding time for new team members
        </li>
        <li>
          Maintained and supported undocumented legacy .NET 1.1 and VB Script code, resolving 
          critical bugs to prevent compliance failures and associated fines
        </li>
      </ul>
    </app-content-section>
  </div>
  <!-- 
    Portfolio Page
    TODO: move to separate router outlet
  -->
  <div *ngIf="onTopic(PageTopicsEnum.Portfolio)" class="topic-container"
    [class.showing]="onTopic(PageTopicsEnum.Portfolio)">
    <h2>Portfolio</h2>
    <app-content-section [titleTexts]="['Dive Inn', 'link:diveinndenver.com']">
      <div class="summary">
        <img src="assets/images/portfolio/DiveInn.svg" />
        <p>The Dive Inn is a popular bar on South Broadway in Denver.</p>
        <p>
          I designed, built, and hosted the site while helping my friend learn
          Angular.
        </p>
        <p>
          The Events and Specials pages are populated from AWS S3 buckets, and
          the Party reservation form uses a custom Node backend emailer.
        </p>
      </div>
      <div class="technology">
        <span>Technology</span>
        <span>Angular 14, RxJs, HTML5, SCSS, NodeJs, GitHub, AWS</span>
      </div>
    </app-content-section>

    <app-content-section [titleTexts]="['Mike Vondrak', 'link:mikevondrak.com']">
      <div class="summary">
        <img class="mike-vondrak" src="assets/images/portfolio/MikeVondrak.svg" />
        <p>My resume as an Angular website.</p>
        <p>
          I built this to get up to speed with Angular 17 and practice rapid
          development. It took about 40 hours from design to hosted site.
        </p>
      </div>
      <div class="technology">
        <span>Technology</span>
        <span>Angular 17, HTML5, SCSS, GitHub, Linux, DDNS, SSL, Nginx</span>
      </div>
    </app-content-section>

    <app-content-section [titleTexts]="['Solved by Software', 'link:solvedbysoftwareco.com']">
      <div class="summary">
        <img class="sbsco" src="assets/images/portfolio/SolvedBySoftware.svg" />
        <p>
          Solved by Software Co is a Salesforce and web consulting company with
          a focus on efficiency.
        </p>
        <p>
          I built this without using any frameworks, creating my own custom gulp
          process to combine html templates at build time. I was able to achieve
          a SPA result with an extremely lightweight site.
        </p>
      </div>
      <div class="technology">
        <span>Technology</span>
        <span>JavaScript, HTML5, SCSS, Gulp, Nginx, AWS</span>
      </div>
    </app-content-section>

    <app-content-section [titleTexts]="['Pointing Poker', 'link:pointingpokeronline.com']">
      <div class="summary">
        <img class="pointing-poker" src="assets/images/portfolio/PointingPoker.svg" />
        <p>A tool for estimating the complexity of software tasks.</p>
        <p>
          I designed and built the UI, and helped with some of the backend
          Firebase work.
        </p>
        <p>
          The system was built to allow login-less use while still maintaining
          user identity between pointing sessions.
        </p>
      </div>
      <div class="technology">
        <span>Technology</span>
        <span>Angular 13, RxJs, HTML5, SCSS, NgRx, GraphQL, Hasura, Heroku,
          GitHub</span>
      </div>
    </app-content-section>

    <app-content-section [titleTexts]="['Dayna Safferstein', 'link:daynasafferstein.com']">
      <div class="summary">
        <img class="dayna-safferstein" src="assets/images/portfolio/DaynaSafferstein.png" />
        <p>The portfolio site of a designer friend of mine.</p>
        <p>
          I built the animated grid for the main page and integrated it into a
          Squarespace site. I also added a custom JavaScript system for
          deploying different versions of the page easily.
        </p>
      </div>
      <div class="technology">
        <span>Technology</span>
        <span>JavaScript, HTML5, SCSS, Squarespace</span>
      </div>
    </app-content-section>
  </div>
</div>