<app-topic-selector></app-topic-selector>
<h2>Work History</h2>
<app-content-section
  [titleTexts]="['Charter Communications', 'Lead Software Engineer']"
  [subtitleTexts]="['Denver CO', 'January 2018 - Present']"
>
  <div class="summary">
    <p>
      <a href="www.charter.com" class="highlight">Charter Communications</a> is a Fortune 500
      company that provides cable TV, internet, telephone and mobile phone
      services nation-wide.
    </p>
    <p>
      I lead a team of developers maintaining parts of the residential and
      small to medium business websites. I deal primarily with the buy-flow
      purchasing aspects of acquiring or upgrading services.
    </p>
  </div>
  <div class="technology">
    <span>Technology</span>
    <span>Angular 15+, RxJs, NgRx, HTML5, SCSS, GraphQL, GitLab, LucidChart, Postman, Charles, Jira, Confluence, ARIA</span>
  </div>
  <ul>
    <li>
      <p class="title">Leadership</p>
      <p>
        I have led teams of between 2 and 8 developers through the entire
        development life-cycle, successfully completing many high-priority
        projects meeting very tight deadlines.
      </p>
      <p>
        I also developed a series of tools to use in our interview system and
        paricipated in all stages of the process, from assessing resumes to deep
        technical reviews.
      </p>
    </li>
    <li>
      <p class="title">Ingenuity</p>
      <p>
        Thinking beyond writing code, I pioneered a development process and
        related documentation to avoid churn between departments, and help the
        devs & QE's operate from a single source of truth.
      </p>
    </li>
    <li>
      <p class="title">Quality</p>
      <p>
        Being able to design complex, long-term solutions, I helped architect a
        JSON based CMS system to allow us to make changes to copy, images, and
        page layouts in a much shorter time frame using a less restrictive
        pipeline.
      </p>
      <p>
        This system was adopted throughout our department and continues to serve
        as the foundation for new work.
      </p>
    </li>
    <li>
      <p class="title">Flexibility</p>
      <p>
        Operating in a rapidly changing environment, I worked with a large
        enterprise application through several restructurings including a
        monorepo and micro-front-ends.
      </p>
    </li>
    <li>
      <p class="title">Passion</p>
      <p>
        Taking pride in my work, I was a multiple-time internal award winner for
        excellence in work and going above and beyond.
      </p>
    </li>
    <li>
      <p class="title">Motivation</p>
      <p>
        I was converted from a contractor to a full-time employee, promoted from Mid
        to Senior software engineer, and then promoted to Lead of a team of
        developers.
      </p>
    </li>
  </ul>
</app-content-section>
