@use "sass:math";
@use "../../../scss/lib";

$offsetFactor: 5;

%pagePadding {
  padding: 4vw 8vw 3vw;

  @include lib.media-breakpoint-gte(lg) {
    padding: 0.75vw 3vw 2vw;
  }

  @include lib.media-breakpoint-gte(ws) {
    padding: 0.5vw 2vw 1vw;
  }
}

:host {
  // NOTE: value is overwritten by component on init, comes from App component SCSS
  //--offsetVerticalVar: 0vw;
  position: relative;
  display: block;
  top: calc($offsetFactor * var(--offsetVerticalVar));
  padding-top: calc(-0.9 * $offsetFactor * var(--offsetVerticalVar));
  background-image:
    repeating-linear-gradient(-45deg,
      rgba(lib.$color_black, 0.05),
      rgba(lib.$color_black, 0.05) 2px,
      transparent 2px,
      transparent 10px);
  background-color: lib.$color_white;

  @include lib.media-breakpoint-gte(sm) {
    border-radius: 0 0 5vw 5vw;
  }

  @include lib.media-breakpoint-gte(lg) {
    border-radius: 0 0 2vw 2vw;
  }

  app-topic-selector {
    margin-bottom: 4vw;

    @media print {
      display: none;
    }
  }

  @media print {
    margin-top: 4vw;
  }

  .topics-container {
    position: relative;
    display: block;

    .topic-container {
      overflow: hidden;
      position: relative;
      display: block;
      border-radius: 0 0 4vw 4vw;

      @include lib.media-breakpoint-gte(lg) {
        border-radius: 0 0 2vw 2vw;
      }

      h2 {
        margin: 0;
        padding: 3vw 4vw 5vw;
        text-align: center;

        @include lib.media-breakpoint-gte(lg) {
          padding: 2vw 3vw 3vw;
        }

        @include lib.media-breakpoint-gte(ws) {
          padding: 1.5vw 2vw 2.5vw;
        }

        @include lib.media-breakpoint-gte(hd) {
          padding: 1.25vw 1.75vw 2vw;
        }

        @include lib.media-breakpoint-gte("4k") {
          padding: 1vw 1.5vw 1.75vw;
        }
      }

      app-content-section {
        display: block;
        padding-bottom: 2vw;
      }
    }
  }
}
