$color_white: #fafeff;
$color_black: #001020;
$color_aqua_1: #00E2DD;
$color_aqua_2: #007C7A;
$color_aqua_3: #005150;
$color_aqua_4: #002626;
$color_aqua_5: #000B0B;
$color_gray_1: #BFBFBF;
$color_gray_2: #9b9b9b;
$color_gray_3: #4b4b4b;
$color_gray_4: #262626;
$color_gray_5: #0B0B0B;
$color_orange: #f08040;


$color_cta: $color_orange;