@font-face {
  font-family: 'Agency FB';
  src: url('/assets/fonts/Agency-FB-Regular.ttf')  format('truetype');
}

@font-face {
  font-family: 'Gill Sans MT';
  src: url('/assets/fonts/Gill-Sans-MT.ttf')  format('truetype');
}

@font-face {
  font-family: 'Righteous';
  src: url('/assets/fonts/Righteous-Regular.ttf')  format('truetype');
}

@media print {
  @font-face {
    font-family: 'Agency FB';
    src: url('/assets/fonts/Agency-FB-Regular.ttf')  format('truetype');
  }
  
  @font-face {
    font-family: 'Gill Sans MT';
    src: url('/assets/fonts/Gill-Sans-MT.ttf')  format('truetype');
  }
  
  @font-face {
    font-family: 'Righteous';
    src: url('/assets/fonts/Righteous-Regular.ttf')  format('truetype');
  }
}