@use "./colors";
@use "./utility";

html,
body {
  color: colors.$color_gray_4;
  font-family: "Gill Sans MT", sans-serif;
  font-weight: normal;
  text-rendering: geometricPrecision;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: normal;
}

h1 {
  @include utility.bpProp('font-size', 12vw);
}
h2 {
  @include utility.bpProp('font-size', 10vw);
}
h3 {
  @include utility.bpProp('font-size', 8.5vw);
}
h4 {
  @include utility.bpProp('font-size', 7vw);
}
h5 {
  @include utility.bpProp('font-size', 5.5vw);
}
p, a, button, ul, ol, div, span {
  @include utility.bpProp('font-size', 4vw);
}

@media print {
  h1 {
    @include utility.bpProp('font-size', 9vw);
  }
  h2 {
    @include utility.bpProp('font-size', 7vw);
  }
  h3 {
    @include utility.bpProp('font-size', 4.5vw);
  }
  h4 {
    @include utility.bpProp('font-size', 3.75vw);
  }
  h5 {
    @include utility.bpProp('font-size', 3vw);
  }
  p, a, button, ul, ol, div, span {
    @include utility.bpProp('font-size', 2.5vw);
  }
}


.page-title {
  font-family: "Righteous", sans-serif;
}
.supplement {
  font-family: "Agency FB";
}

button,
a {
  font-family: "Agency FB", sans-serif;
  font-weight: normal;
}
