<section>
  <h2>Frameworks</h2>
  <ul>
    <li>
      <span>Angular 17+</span>
      <span>6 years</span>
    </li>
    <li>
      <span>React</span>
      <span>1 year</span>
    </li>
    <li>
      <span>NodeJs</span>
      <span>1 year</span>
    </li>
    <li>
      <span>.NET 4.5</span>
      <span>5 years</span>
    </li>
    <li>
      <span>Knockout</span>
      <span>1 year</span>
    </li>
  </ul>
</section>

<section>
  <h2>Languages<sup class="asterisk">*</sup></h2>
  <ul>
    <li>
      <span>HTML / CSS</span>
      <span>20 years</span>
    </li>
    <li>
      <span>JavaScript</span>
      <span>10 years</span>
    </li>
    <li>
      <span>Shell</span>
      <span>3 years</span>
    </li>
    <li>
      <span>Objective C</span>
      <span>6 months</span>
    </li>
    <li>
      <span>C#</span>
      <span>5 years</span>
    </li>
    <li>
      <span>C++</span>
      <span>5 years</span>
    </li>
    <li>
      <span>Visual Basic</span>
      <span>2 years</span>
    </li> 
  </ul>
  <p class="asterisk">
    *Subject to personal interpretation of the term "language"
  </p>
</section>

<section class="technology">
  <h2>Technology</h2>
  <!-- TODO: different element(s) for proper markup for ARIA -->
  <ul>
    <li>
      <span>OS X</span>
      <span>Windows</span>
      <span>Linux</span>
    </li>
    <li>
      <span>VS Code</span>
      <span>Visual Studio</span>
    </li>
    <li>
      <span>RxJs</span>
      <span>NgRx</span>
    </li>
    <li>
      <span>GitLab</span>
      <span>GitHub</span>
    </li>
    <li>
      <span>GraphQL</span>
      <span>Apollo</span>
    </li>
    <li>
      <span>SQL</span>
      <span>MongoDB</span>  
      <span>Firebase</span>
    </li>
    <li>
      <span>Nginx</span>
      <span>DDNS</span>
      <span>SSL</span>
    </li>
    <li>
      <span>LucidChart</span>
    </li>
    <li>
      <span>Jira</span>
      <span>Confluence</span>
    </li>
    <li>
      <span>Postman</span>
      <span>Charles</span>
    </li>
    <li>
      <span>Accessibility</span>
      <span>ARIA</span>
    </li>
    <li>
      <span>Affinity Designer & Photo</span>
    </li>
  </ul>
</section>

<section class="education">
  <h2>Education</h2>
  <ul>
    <li>
      <span>Virginia Polytechnic</span><span>and State University</span>
      <span class="subtext">August 1999 - August 2003</span>
      <span class="subtext">+</span>
    </li>
    <li>
      <span>Budapest University</span><span>of Technology</span>
      <span class="subtext">August 2003 - June 2004</span>
      <span class="subtext">===</span>
    </li>
    <li>
      <span>B.S. in</span><span>Computer Engineering</span>
    </li>
  </ul>
</section>

<section class="education">
  <h2>Hobbies</h2>
  <ul>
    <li>
      <span>Programming</span>
    </li>
    <li>
      <span>Digital Design</span>
    </li>
    <li>
      <span>Video Games</span>
    </li>
    <li>
      <span>Pool</span>
    </li>
    <li>
      <span>Camping</span>
    </li>
    <li>
      <span>Golf, Disc-Golf</span>
    </li>
    <li>
      <span>Rock Climbing</span>
    </li>
    <li>
      <span>Food</span>
    </li>
  </ul>
</section>