<section class="two-column">
  <h2>Frameworks</h2>
  <ul>
    <li>
      <span>Angular 18+</span>
      <span>8 years</span>
    </li>
    <li>
      <span>NodeJs</span>
      <span>3 years</span>
    </li>
    <li>
      <span>React</span>
      <span>1 year</span>
    </li>
    <li>
      <span>.NET 4.5</span>
      <span>5 years</span>
    </li>
    <li>
      <span>Knockout</span>
      <span>1 year</span>
    </li>
  </ul>
</section>

<section class="two-column">
  <h2>Languages</h2>
  <ul>
    <li>
      <span>HTML / CSS</span>
      <span>20 years</span>
    </li>
    <li>
      <span>JavaScript</span>
      <span>10 years</span>
    </li>
    <li>
      <span>C#</span>
      <span>5 years</span>
    </li>
    <li>
      <span>Objective C</span>
      <span>6 months</span>
    </li>
    <li>
      <span>C++</span>
      <span>5 years</span>
    </li>
    <li>
      <span>Visual Basic</span>
      <span>2 years</span>
    </li>
    <li>
      <span>Shell</span>
      <span>3 years</span>
    </li>
  </ul>
</section>

<section class="center-span-list">
  <h2>Technology</h2>
  <!-- TODO: different element(s) for proper markup for ARIA -->
  <ul>
    <li>
      <span>RxJs</span>
      <span>NgRx</span>
    </li>
    <li>
      <span>GraphQL</span>
      <span>Apollo</span>
      <span>REST</span>
    </li>
    <li>
      <span>Nginx</span>
      <span>DDNS</span>
      <span>SSL</span>
    </li>
    <li>
      <span>SQL</span>
      <span>MongoDB</span>
      <span>Firebase</span>
    </li>
    <li>
      <span>Cucumber</span>
      <span>Jasmine</span>
    </li>
    <li>
      <span>GitLab</span>
      <span>GitHub</span>
      <span>TFS</span>
    </li>
    <li>
      <span>Postman</span>
      <span>Charles</span>
    </li>
    <li>
      <span>VS Code</span>
      <span>Visual Studio</span>
    </li>
    <li>
      <span>Jira</span>
      <span>Confluence</span>
    </li>
    <li>
      <span>Accessibility</span>
      <span>ARIA</span>
    </li>
    <li>
      <span>Affinity Designer</span>
      <span>Photo</span>
      <span>Publisher</span>
    </li>
    <li>
      <span>Figma</span>
      <span>Zeplin</span>
      <span>LucidChart</span>
    </li>
    <li>
      <span>OS X</span>
      <span>Windows</span>
      <span>Linux</span>
    </li>
    <li>
      <span>Agile</span>
      <span>Scrum</span>
    </li>
  </ul>
</section>

<section class="center-list">
  <h2>Education</h2>
  <ul>
    <li>
      <span>Virginia Polytechnic and</span><span>State University</span>
    </li>
    <li>
      <span class="separator">+</span>
    </li>
    <li>
      <span>Budapest University</span><span>of Technology</span>
    </li>
    <li>
      <span class="separator">===</span>
    </li>
    <li>
      <span>B.S. in</span><span>Computer Engineering</span>
    </li>
  </ul>
</section>