<div class="container">
  <div class="clickable-indicator" [@slideHorizontal]="topic"></div>
  <button
    [class.selectable]="onTopic(PageTopicsEnum.Portfolio)"
    (click)="selectTopic(PageTopicsEnum.History)"
  >
    <span  class="current-page-indicator" [class.active]="onTopic(PageTopicsEnum.History)">History</span>
  </button>
  <button
    [class.selectable]="onTopic(PageTopicsEnum.History)" 
    (click)="selectTopic(PageTopicsEnum.Portfolio)"
  >
    <span  class="current-page-indicator" [class.active]="onTopic(PageTopicsEnum.Portfolio)">Portfolio</span>
  </button>
</div>