@use "../../../scss/lib";

$titleFontSizes: (
  "zero": 12vw,
  "xs": 10vw,
  "sm": 9vw,
  "md": 8vw,
  "lg": 7vw,
  "xl": 6.5vw,
  "ws": 6vw,
  "hd": 5.5vw,
  "2k": 5vw,
  "4k": 4.5vw,
);
$taglineFontSizes: (
  "zero": 3.5vw,
  "xs": 3vw,
  "sm": 2.5vw,
  "md": 2vw,
  "lg": 1.75vw,
  "xl": 1.5vw,
  "ws": 1.25vw,
  "hd": 1vw,
  "2k": 0.85vw,
  "4k": 0.75vw,
);
$taglineSeparatorGap: (
  "zero": 2.5vw,
  "sm": 2vw,
  "lg": 1vw,
  "ws": 0.75vw,
  "2k": 0.5vw
);

:host {
  // Config
  // NOTE: value will be overwritten by component on init by app component scss
  --internalOffsetVertical: 0vw;

  // End Config
  header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    //width: 100%;
    @include lib.media-breakpoint-gte(sm) {
      flex-direction: row;
      align-items: flex-start;
      padding: 2vw 0 0 0;
    }

    .page-title-container {
      z-index: 1;
      position: relative;
      width: 96vw;
      margin: 2vw 2vw 0;
      padding: 1vw 3vw 2vw;
      border-radius: 4vw 0vw 4vw 0vw;
      background-color: lib.$color_aqua_1;
      box-shadow: 0px 0px 10px 0px lib.$color_black;

      @include lib.media-breakpoint-gte(sm) {
        width: 72%;
        margin: 0;
      }

      @include lib.media-breakpoint-gte(lg) {
        width: 77%;
        padding: 1vw 1.2vw 1.2vw;
        border-radius: 2vw 0vw 2vw 0vw;
      }

      .page-title {
        text-align: center;
        line-height: 1;
        margin: 0;
        padding: 2vw 0 0.5vw;
        @include lib.breakpointProp("font-size", $titleFontSizes);

        @include lib.media-breakpoint-gte(sm) {}
      }

      .page-tagline {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 0;
        opacity: 0.7;
        @include lib.breakpointProp("gap", $taglineSeparatorGap);

        >span {
          padding-top: 0.1vw;
          color: lib.$color_black;
          @include lib.breakpointProp("font-size", $taglineFontSizes);
          // @include lib.media-breakpoint-gte(sm) {
          //   margin: 0 0.5vw;
          // }
        }

        .engineer {
          font-family: "Wix Madefor Display", sans-serif;
          text-transform: uppercase;
        }

        .programmer {
          font-family: "Cascadia Code", sans-serif;

          text-transform: lowercase;
        }

        .designer {
          font-family: "Raleway", sans-serif;

        }
      }
    }

    .corner-element-container {
      z-index: 0;
      position: relative;
      width: 100vw;
      top: 0vw;
      right: 0vw;

      @include lib.media-breakpoint-gte(xs) {}

      @include lib.media-breakpoint-gte(sm) {
        // layout change

        position: absolute;
        top: 3vw;
      }

      @include lib.media-breakpoint-gte(md) {
        top: 2vw;
        padding-top: 0;
      }

      @include lib.media-breakpoint-gte(lg) {
        top: 1vw;
      }

      @include lib.media-breakpoint-gte(ws) {
        top: 0.5vw;
        width: 20vw;
      }
    }
  }
}